* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  width: 100%;
  box-shadow: 1rem black;
  margin: 4rem;
  opacity: 0;
  transition-duration: 500ms;
};